<!DOCTYPE html>
<html>
  <head>
    <title>Comicdb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
      <nav class="navbar" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/home">Comic DB</a>
        </div>
        <div class="navbar-start">
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="/about">About</a>
          <a class="navbar-item" href="/sign_in">Sign In</a>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
