<!DOCTYPE html>
<html>
  <head>
    <title>ComicDB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
      <nav class="navbar" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/home">Comic DB</a>
        </div>
        <div class="navbar-start">
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="/about">About</a>
          <% if Current.user && %>
            <a class="navbar-item" href="/profile"><%= Current.user.email %></a>
            <%= link_to 'Sign out', logout_path, method: :delete, class: 'navbar-item' %>
          <% else %>
            <a class="navbar-item" href="/sign_in">Sign In</a>
          <% end %>
        </div>
      </nav>
      <% if notice %>
      	<article class="message is-success">
          <div class="message-body">
            <p><%= notice %></p>
          </div>
        </article>
      <% end %>
      <% if alert %>
      	<article class="message is-danger">
          <div class="message-body">
            <p><%= alert %></p>
          </div>
        </article>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
